@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

* {
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(221, 51%, 20%) !important;
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

ul li {
    list-style-type: none;
    color: white;
    margin: 0 10px;
    transition: color 0.3s;
}

ul li:hover {
    text-shadow: 1px 1px 5px hsl(221, 51%, 10%);
    color: orange;
}

.title h1 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    margin-top: 20px;
}

.social-icons .social-icon {
    margin: 0 10px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.social-icons .social-icon:hover {
    transform: scale(1.1);
}

.about-me {
    margin-top: 220px;
    padding: 0 20px;
}

footer {
    padding: 20px 0;
}

footer a {
    color: #FCA311;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}